<!DOCTYPE html>
<html>
<head>
	<title>Booker Pro</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="homepage-photo">
		<div class='title'><h1 style="font-family: 'Lato', sans-serif;"><strong>Booker Pro</strong></h1>
		<h3>Hotel Bookings for Large Groups</h3>
		</div>
	</div>

	<div id="homepage-float" "text-center">
		<form>
			<input id="search-bar" type="text" name="location" placeholder="Search Location">
		</form>
	</div>


</body>
</html>