<!DOCTYPE html>
<html>
	<head>
		<title>Booker Pro</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,700italic,900italic' rel='stylesheet' type='text/css'>
	</head>

<body id="booker-logo">

	<div id="homepage-photo">

		<div class='title'>

			<h1 style="font-family: 'Lato', sans-serif; font-weight: 900; font-style: normal;">Seamless Hotel Bookings</h1>

			<h2 style="font-family: 'Lato', sans-serif; font-weight: 400; font-style: normal;">We Make Travel Easy</h2>

		</div>

	</div>

	<div id="homepage-float" "text-center">

		<%= render 'search' %>

	</div>


</body>
</html>