    <div class="small-view">
    	<div class="col-md-7 filter-container">
			<%= render 'filter' %>
		</div>

        <div id="search-padding" class="row">
			<div class="col-md-7 relative-column">
				<%= render "searches/search_min" %>
			</div>
			<div class="map-wrapper">
				<div id="google-map" class="col-md-5"></div>
			</div>
		</div>
    </div>
