<div id="search-padding" class="row">
<div class="col-md-7">
	<% @hotels.each do |hotel| %>
		<div class="search-org">
			<div class="col-md-6">
				<%= hotel["name"] %><br><hr>
			</div>
			<div class="col-md-6">
				<%= hotel["name"] %><br><hr>
			</div>
		</div>
	<% end %>
	
</div>
<div class="col-md-5 google-map"></div>
</div>
