
.vwmargin2 {
	width: 5vw;
	height: 100vh;
	margin: 0;
	background-color: red;
	display: inline-block;
	padding: 0;
}

.hotelshow-container {
	width: 67vw;
	height: 100vh;
	margin-left: 2vw;
	background-color: blue;
	display: inline-block;
	padding: 0;
}

.sidebar-container {
	width: 21vw;
	height: 100vh;
	margin-right: 2vw;
	background-color: green;
	display: inline-block;
	padding: 0;
}