.hotelshow-container {
	width: 67vw;
	height: 100vh;
	margin-left: 2vw;
	margin-right: 5vw;
	border: black 2px solid;
	display: inline-block;
	padding: 0;
}

.sidebar-container {
	width: 21vw;
	height: 100vh;
	margin-right: 2vw;
	background-color: green;
	display: inline-block;
	padding: 0;
}

.top-image-container {
	margin-top: 1vh;
	position: relative;
	width: 100vw;
	height: 60vh;
	overflow: hidden;
}

.top-image {
	margin-top: -40vh;
	width: 100vw;
}

.title-container {
	border: black 2px solid;
	margin: 0 auto;
	width: 30vw;
	height: 15vh;
}