.hotelshow-container {
	width: 60vw;
	height: 100vh;
	margin-left: 5vw;
	margin-right: 2vw;
	border: black 2px solid #999;
	display: inline-block;
	padding: 0;
	/*background-color: rgba(0,0,0, 0.1);*/
}

.top-image-container {
	margin-top: 1vh;
	position: relative;
	width: 100vw;
	height: 60vh;
	overflow: hidden;
}

.top-image {
	margin-top: 0vh;
	width: 100vw;
}

.title-container {
	/*border: black 2px solid;*/
	margin: 10px auto;
	text-align: center;
	width: 60vw;
	height: 20vh;
	padding: 10px;
	background-color: rgba(0,0,0, 0.1);
}

.about-container {
	/*border: black 2px solid;*/
	text-align: center;
	width: 100%;
	height: 25vh;
	padding: 5px;
	margin: 10px auto;
	background-color: rgba(0,0,0, 0.1);
}


.choose-room-container {
	width: 60vw;
	height: 15vh;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
	background-color: rgba(0,0,0, 0.1);
}

.choose-room-container DIV {
	display: inline-block;
	height: 8vh;
	margin: 0 10px;
	text-align: center;
	font-size: 12px;
}

.room-selection-container {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 5px;
}

.individual-room-container {
	width: 40%;
	height: 50vh;
	position: relative;
	border: 2px black solid;
	margin: 4vh 2.5%;
	overflow: hidden;
	display: inline-block;
}

.room-image {
	width: 100%;
	height: 60%;
	display: inline-block;

}
.amenity-sidebar {
	width: 32vw;
	float: right;
	right: 0;
	top: -6vh;
	position: relative;

}












