
.room-selection-container {
	width: 100%;
	height: auto;
	text-align: left;
	margin: 5px;
	font-size: 12px;
	font-family: 'Lato';
	font-weight: 400;
}

.individual-room-container {
	width: 48%;
	height: 70vh;
	position: relative;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 2px;
	margin: 20px 0;
	overflow: hidden;
	display: inline-block;
	text-align: left;
}

.room-image {
	width: 100%;
	height: 60%;
	display: inline-block;
}



.individual-room-container .price-box {
	background-color: rgba(0,0,0,0.8);
	min-width: 60px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 46%;
	height: 33px;
	left: 0px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.description-price-container {
	font-size: 16px;
	font-family: 'Lato';
	font-weight: 400;
	height: 40px;
	padding: 1vh .5vw 1vh 0;
	margin-bottom: 2vh;
}

.room-description {
	float: left;
	width: 70%;
}

.price-with-promo {
	width: 25%;
	float: right;
	margin-right: 10px;
	font-size: 12px;
	margin-top: 2px	;
	text-align: right;

}

.bedtypes {
	font-size: 15px;
	font-family: 'Lato';
	font-weight: 300;
	border-top: 1px solid rgba(0,0,0,.3);
	border-bottom: 1px solid rgba(0,0,0,.3);
	height: 8vh;
	padding: 1vh .5vw 1vh 0;
	display: block;
	margin-top: 2vh;


}

.bedtypes .bed-description {
	float: left;
	display: inline-block;
	height: 100%;
}

.bedtypes .book-now {
	display: inline-block;
	float: right;
	position: relative;

}
.bedtypes .search-container {
	background-color: #3598CB;
	color: #fff;
	top: 0;

}

.bedtypes BUTTON {
	border: 1px solid rgba(0,0,0,.2);

}











