// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
	vertical-align: middle;
	border: 0;
}
#search-padding {
	padding-top: 3vh;
	padding-left: 1vw;
}
.search-org {
	background-color: #999;
	color: black;
	position: relative;
}
#google-map {
	height: 100vh;
	position: relative;
	width: 40vw;
	position: relative;
	bottom: 3vh;
}
.relative-column {
	position: relative;
	width: 100vw;
	height: 100vh;
}
.map-wrapper {
	position: fixed;
	right: 0;
}
.hotel-image {
	position: relative;
	border: 0;
}
#image-overflow {

}
#image-overflow img {
	width: 300px;
	height: 200px;
}
.hotel-container {
	text-align: center;
	height: 300px;
	width: 350px;
}

