// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-padding {
	padding-top: 4vh;
	padding-left: 1vw;
	padding-right: 1vw;
}
.search-org {
	background-color: #999;
	color: black;
}
.search-results {
	position: relative;
}
#google-map {
	border: 2px solid black;
	height: 100vh;
	position: fixed;
	overflow: hidden;
	right: 0;
	top: 0;
}
.relative-column {
	position: relative;
}

