// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
	text-align: center;
}

#homepage-photo {
	background: url("https://s3-us-west-1.amazonaws.com/bookerpro/hotel-room.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 80vh;
}
#homepage-float {
    background-color: rgba(0, 0, 0, 0.6);
    #border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    height: 15vh;
    position: relative;
    bottom: 23vh;
    text-align: center;
}
#search-bar {
	position: relative;
	top: 10vh;
}
.searchpartial {
	position: relative;
	top: 5vh;
}
.search-container {
	height: 6vh;
	top: 6vh;
}

